
.mapael .map {
    background-color: #eee;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
}

.mapael .zoomButton {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-weight: bold;
    left: 30px;

    -webkit-user-select: none;
    -khtml-user-select : none;
    -moz-user-select: none;
    -o-user-select : none;
    user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
    top: 40px;
}

/* Then Zoom In button */
.mapael .zoomIn {
    top: 60px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
    top: 80px;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    width: 200px;
    display: none;
    color: #343434;

}

.mapTooltip .title{
    font-weight:bold;
    text-align: center;
}

.odr{
    padding: 1px;
    background:green;
    font-weight:bold;
    color: white;
    margin-bottom: 3px;

}

.odp{
    padding: 1px;
    background:#ffd95a;
    font-weight:bold;
    color: white;
    margin-bottom: 3px;
}

.pdp{
    padding: 1px;
    background:#f9a825;
    font-weight:bold;
    color: white;
    margin-bottom: 3px;
}

.positif{
    padding: 1px;
    background:#e64a19;
    font-weight:bold;
    color: white;
    margin-bottom: 3px;
}

.sembuh{
    padding: 1px;
    background:#7cb342;
    font-weight:bold;
    color: white;
    margin-bottom: 3px;
}

.meninggal{
    padding: 1px;
    background:#424242;
    font-weight:bold;
    color: white;
    margin-bottom: 3px;
}

.footer{
    font-size: 20px;
    text-align: center;
}

.text-odp {color: #ffd95a !important;}
.text-pdp {color: #f9a825 !important;}
.text-positif {color: #e64a19 !important;}
.text-sembuh {color: #7cb342 !important;}
.text-meninggal {color: #424242 !important;}
